mixin market()
	section.market&attributes(attributes)
		.market__in
			h2.market__title(data-title="market") Мировой рынок золота в цифрах
			.market__text
				p Золото продолжает оставаться не просто одним из самых универсальных активов, но и одним из самых ценных. Ценность любого актива исчисляется его редкостью, а ликвидность актива — его покупательной способностью. Золото совмещает в себе оба эти параметра: являясь ценным металлом с ограниченной добычей, металл также считается резервным платежным средством, поскольку может быть обменен на любую валюту мира.

				p Золото используется в бытовой электронике, стоматологии, ювелирной отрасли, производстве монет. ETF-фонды вкладывают деньги не только напрямую во фьючерсы на золото, а и в ценные бумаги компаний, работающих с металлом или его добывающим. Общий спрос на драгоценный металл составляет около 1000 тонн, его стоимость — 42,6 млрд дол.
