mixin about()
	section.about&attributes(attributes)
		.about__in
			h2.about__title(data-title='About') О проекте
			.about__text
				p «Central GOLD Coin» — Первая в мире цифровая монета имеющая защищённую часть стоимости в физическом золоте с возможностью обмена монеты на физическое золото. Альянс международных компаний по добычи хранению и продажи физического золота и компаний занимающихся высокими технологиями.

				p «Central GOLD Coin» сочетает в себе современные информационные технологии, big data и блокчейн-технологии с мировыми стандартами безопасности, удобства и простоты использование технологий.
