mixin advantages()
	.advantages&attributes(attributes)
		.advantages__in
			.advantages__row
				.advantages__content
					h2.advantages__title(data-title="01") Риск потери денежных средств
					.advantages__text
						p При вложение денежных средств в криптовалюты многие говорят что криптовалюты ничем не подкреплены и представляют собой математику в чистом виде. Криптовалюты имеют постоянно большую волатильность что сказывается позитивно для трейдеров. Однако для людей которые используют криптовалюту для сбережение средств волатильность криптовалюты является сильным стрессом.

						p Также для многих организаций волатильность криптовалюты является отпугивающим фактором для осуществление торговли и оказания услуг за  криптовалюты. Не имение защищённого процента прибыли организации влечет за собой риск банкротства.
				.advantages__image
					img(src="assets/images/general/advantages-img-1.png", alt="")
			.advantages__row
				.advantages__content
					h2.advantages__title(data-title="02") Золото, как монета
					.advantages__text
						p «Central GOLD Coin» имеет защищенную часть в виде 1 грамма золота за каждую 1 монету. Золото с давних времен является одной из важнейших составляющих мировой финансовой системы.

						p Оно не подвержено коррозии, имеет множество сфер применения, в то время как количественно его не так уж и много во всем мире. Это позволяет сократить риск потери денежных средств и тем самым обеспечить минимальную стоимость данной криптовалюты.
				.advantages__image
					img(src="assets/images/general/advantages-img-2.png", alt="")
