@font-face
	font-family 'MyriadPro-Regular'
	src local('MyriadPro-Regular'),
		url('../fonts/hinted-subset-MyriadPro-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-MyriadPro-Regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Catamaran-Regular'
	src local('Catamaran Regular'), local('Catamaran-Regular'),
		url('../fonts/hinted-subset-Catamaran-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-Catamaran-Regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'Montserrat-Light'
	src local('Montserrat Light'), local('Montserrat-Light'),
		url('../fonts/hinted-subset-Montserrat-Light.woff2') format('woff2'),
		url('../fonts/hinted-subset-Montserrat-Light.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'SFUIDisplay-Bold'
	src local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
		url('../fonts/hinted-subset-SFUIDisplay-Bold.woff2') format('woff2'),
		url('../fonts/hinted-subset-SFUIDisplay-Bold.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'SFUIDisplay-Semibold'
	src local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
		url('../fonts/hinted-subset-SFUIDisplay-Semibold.woff2') format('woff2'),
		url('../fonts/hinted-subset-SFUIDisplay-Semibold.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'SFUIDisplay-Regular'
	src local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
		url('../fonts/hinted-subset-SFUIDisplay-Regular.woff2') format('woff2'),
		url('../fonts/hinted-subset-SFUIDisplay-Regular.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'SFUIDisplay-Light'
	src local('SF UI Display Light'), local('SFUIDisplay-Light'),
		url('../fonts/hinted-subset-SFUIDisplay-Light.woff2') format('woff2'),
		url('../fonts/hinted-subset-SFUIDisplay-Light.woff') format('woff')
	font-weight normal
	font-style normal

@font-face
	font-family 'SFUIDisplay-Heavy'
	src local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
		url('../fonts/hinted-subset-SFUIDisplay-Heavy.woff2') format('woff2'),
		url('../fonts/hinted-subset-SFUIDisplay-Heavy.woff') format('woff')
	font-weight normal
	font-style normal


$mR = 'MyriadPro-Regular' , arial, sans-serif

$cR = 'Catamaran-Regular' , arial, sans-serif

$mL = 'Montserrat-Light', arial, sans-serif
$sL = 'SFUIDisplay-Light' , arial, sans-serif
$sR = 'SFUIDisplay-Regular', arial, sans-serif
$sM = 'SFUIDisplay-Semibold' , arial, sans-serif
$sB = 'SFUIDisplay-Bold', arial, sans-serif
$sH = 'SFUIDisplay-Heavy' , arial, sans-serif

// $ab = 'AvenirNextCyr-Bold', arial, sans-serif




